*, ::after, ::before {
  box-sizing: border-box;
}

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  font-family: Arial, Helvetica, sans-serif;
}


::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}


hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}


audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}


.hidden,
[hidden] {
  display: none !important;
}

.invisible {
  visibility: hidden;
}

.grid {
  height: 400px;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  background: gray;
  margin: 2rem auto auto;
}

.grid div {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.valid {
  height: 40px;
  width: 40px;
}


.square-border {
  border: 2px solid;
  border-color: #f5f3eb #bab7a9 #bab7a9 #fff9db;
}

.checked {
  background: gold;
}

.one {
  color: #e76346;
}

.two {
  color: #4199d3;
}

.three {
  color: #57da59;
}

.four {
  color: #bb41d3;
}

#result {
  margin-top: 5px;
  color: white;
  font-weight: bold;
  font-size: 1.25rem;
}

#result.win {
  background-color: #57da59;
  padding: 1rem;
  width: 400px;
  margin: auto;
}

#result.lose {
  background-color: #b82510;
  padding: 1rem;
  width: 400px;
  margin: auto;
}

.controls {
  display: flex;
  flex-wrap: wrap;
  padding-top: 1rem;
  width: 400px;
  margin: auto;
  justify-content: space-between;

}

.flags-left {
  padding-top: 1rem;
  font-weight: bold;
  font-size: 1.5rem;
  width: 400px;
  margin: auto;
}

.flags-left::before {
  content: 'Flags remaining: ';
}

.btn-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}

.font-bold {
  font-weight: bold;
}
